* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #282D35;
}

nav{
    display: flex;
    align-items: center;
    background-color: #21222A;
    color: beige;
    padding: 30px 25px;
}

nav > h3, nav > h4 {
    margin: 0;
}

nav > h3 {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 28px;
    padding: 10px;
}

nav > h4 {
    color: #DEEBF8;
    font-weight: 600;
}

img{
    margin-right: 1%;
}

main {
    margin: 0;
    color: white;
    padding-top: 5%;
    padding-left: 3%;
}

.main-h1 {
    margin: 0;
    font-size: 46px;
    font-weight: 700;

}

.main-ul {
    margin-top: 3%;
    margin-bottom: 2%;
    padding-left: 3%;
    line-height: 170%;
    font-size: 18px;
    max-width: 40%;
}

.main-ul > li {
    padding-block: 7px;
}

.main-ul > li::marker {
    font-size: 1.8rem;
    color: #61DAFB;
}